node_modules/

*.log
logs/
db/

.git/
*.tmp
*.swp

*.env
.env.example
.dockerignore
Dockerfile
docker-compose.yml
.npmrc
.gitignore
.eslintrc.js
.prettierrc
package-lock.json

coverage/
*.md

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

dist/
build/